NODE_ENV=development
PORT=4000
API_PREFIX=api

DATABASE_TYPE=postgres
DATABASE_HOST=postgres-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=roulette
DATABASE_MAX_CONNECTIONS=true

DATABASE_URL=postgresql://postgres:postgres03@localhost:5432/roulette


RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest